# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse


run
runs/*
!runs/saves/
runs/saves/*
!runs/saves/Buildworld/
runs/saves/Buildworld/advancements/*
runs/saves/Buildworld/data/*
runs/saves/Buildworld/playerdata/*
runs/saves/Buildworld/stats/*