# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse

run/*
!run/saves/
run/saves/*
!run/saves/Buildworld/
run/saves/Buildworld/advancements/*
run/saves/Buildworld/data/*
run/saves/Buildworld/playerdata/*
run/saves/Buildworld/stats/*